* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 20px;
    display: inline-block;
    width: 100%;
    background-color: rgb(89, 22, 176);
}

.header h1 {
    display: inline-block;
}

.codername {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(213, 220, 220);
    float: left;
    margin-right: 10px;
}

.header div ul {
    color: beige;
    display: flex;
    padding: 0px;
    margin: 0px;
    float: right;

}

.header div {
    float: right;
}

.header div ul li {
    display: inline-block;
    margin-left: 30px;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding: 0%;
    margin: 0%;
}


.h1bod {
    float: left;
    padding-right: 5px;
    margin-right: 10px;
    border-right: 5px black;
    

}

section {
    margin:  10px;
    margin-bottom: 70px;
}
div {
    margin-left: 120px;
}


.link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}